#mainContent {
    margin: auto 10% ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30%;
}

#answers {
    margin: 2px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
}